name: OpenSSF Scorecard
on:
  branch_protection_rule:
  schedule: [{cron: "0 9 * * 1"}]
  push: {branches: ["main"]}

permissions:
  id-token: write
  contents: read
  security-events: write

jobs:
  analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ossf/scorecard-action@v2.3.3
        with:
          results_file: results.sarif
          publish_results: true
      - uses: github/codeql-action/upload-sarif@v3
        with: { sarif_file: results.sarif }
